.emotion-textarea{
    
    position: absolute;
    width: 50%;
    border-radius: 2px;
    margin-top: 70px;
    margin-left: 400px;
    background-color: #93a9be;
    


}

.textArea-Color{
    background-color: #e6ecf2;
}
.input-emotion{
     /* Add your specific styles here */
     background-color: #728da8;
     border-radius: 5px;
     padding: 10px;
     width: 50%;

     transform: translate(25rem, 45rem);
}

/**button managed*/
.submit-button{

  transform: translate(42.8rem, -38px);

}

.sidebar-content{
    background-color:  #93a9be;
    width: 20%;
    height: 53rem;
    position: fixed;
    border-radius: 0px 45px 45px 0px;
}
h4{ 
    padding: 10px 0px 0px 40px;
    color: #17416c;
}   
hr{
    color: #17416c;
}

.sidebar-content li {
    list-style-type:none;
    
}

/*ALIGN BUTTONS*/
.align-buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15rem;
   
}

/*****button animate****/
.emotion-analytics {
    border-radius: 7px;
    background-color: #17416c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.emotion-analytics span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.emotion-analytics span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.emotion-analytics:hover span {
    padding-right: 10px;
  }
  
.emotion-analytics:hover span:after {
    opacity: 1;
    right: 0;
  }


/*****BUFFER USER INPUT TEXT animate****/
.buffer-data {
    border-radius: 7px;
    background-color: #17416c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  
.buffer-data span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.buffer-data span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.buffer-data:hover span {
    padding-right: 10px;
  }
  
.buffer-data:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*DESIGN PIE CHART*/

  .design-piechart{

    width: 20%;
    height: 20%;
   transform: translate(80rem, -2rem);
  }

