.card-container{
    margin-top: 5%;
    width: 90rem;
    position: relative;
    top: 40px; left: 80px;
}

.disaster-tweet:hover
{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(210, 221, 205);

}
.emotion-tweet:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(210, 221, 205);

}
.btn-id{
   background-color: rgb(18, 121, 23);
   border:none;
   
}
.btn-id:hover{
    transform: scale(1.05);
}


.card-sentiment{
    position: relative;
    top: 40px; left: 140px;
    display: flex;
    flex-direction: row;
    width: 50%;
    
}

.text-title{
    margin-top: 50px;
}